/*--general settings--*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

html {
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button {
    border: none;
    font-size: inherit;
    font-family: inherit;
}

button {
    cursor: pointer;
    background: none
}
