/*--general settings--*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;

}

html {
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button {
    border: none;
    font-size: inherit;
    font-family: inherit;
}

button {
    cursor: pointer;
    background: none
}

/*--header--*/
.header {
    height: 95px;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    background: #18181B;
    position: fixed;
    z-index: 1000;
    transition: all 300ms ease-in-out;
}

.header__hide {
    transform: translateY(-100%);
    opacity: 0;
}

.header__logo {
    font-weight: 900;
    font-size: 40px;
}

.header a {
    color: #FFFFFF;
}

.header__links ul {
    display: flex;
    gap: 40px;
    font-size: 24px;
}

.header__links li {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    font-weight: lighter;
}

.header__links li:hover {
    transform: scale(0.9);
}

.header__buttons a {
    font-weight: 700;
    font-size: 24px;
    padding: 7px 23px;
    border: 2px solid #FFFFFF;
    border-radius: 0 0 0 20px;
    transition: all 200ms ease-in-out;
}

.header__buttons a:hover {
    background: #FFFFFF;
    color: #18181B;
}

/*--introduction screern--*/

.section__one {
    padding: 95px 40px;
    background: #18181B;
    overflow: hidden;
}

.content__blocks {
    height: 520px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.blocks__row {
    height: 100%;
}

.first__block {
    background: #4363E8;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 800px;
    border-radius: 30px;
}

.text__inner__one {
    margin-top: 10px;
    width: 603px;
    margin-left: 33px;
    font-weight: bold;
    font-size: 90px;
}

.school__name h1 {
    background: linear-gradient(90deg, #EBEBEB 63.52%, rgba(235, 235, 235, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.school__number h1 {
    background: linear-gradient(155.38deg, #FFFFFF 42.33%, rgba(255, 255, 255, 0) 70.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 800;
    font-size: 500px;
    position: absolute;
    left: 10px;
    bottom: -65px;
}



.second__block {
    background: #EBEBEB;
    position: absolute;
    right: 0;
    border-radius: 30px;
    top: 0;
    height: 100%;
    width: 800px;
}

.second__block img {
    margin-left: -257px;
}

.text__inner__two {
    position: absolute;
    top: 45px;
    width: 500px;
    left: 260px;
    font-size: 24px;
}

.text__inner__two p {
    margin-top: 45px;
    font-size: 24px;
}

/*--animated blocks--*/

.animated__blocks__inner {
    height: 222px;
    display: flex;
    width: 100%;
    align-items: center;
}

.animated__blocks__inner:not(:first-child) {
    margin-top: 41px;
}


/*--section two--*/


.section__two {
    background-color: #18181B;
    width: 100%;
    height: auto;
    padding: 0 40px;
}

.animated__block {
    background: #1F1F1F;
    width: 660px;
    height: 100%;
    border-radius: 30px;
    display: flex;
    cursor: pointer;
    transform: translateY(450px);
    opacity: 0;
    transition: all 1200ms ease-out;
    z-index: 12;
}




.left {
    justify-content: start;
}

.right {
    justify-content: end;
}

.img__animated__block {
    height: 100%;
    width: 310px;
    background: #4363E8;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__animated__block {
    color: #FFFFFF;
    width: 356px;
    padding: 25px;
}

.text__animated__block h3 {
    font-size: 36px;
}






/*--section three--*/

.section__three {
    height: 150vh;
    width: 100%;
    background-color: #18181B;
    padding-top: 100px;
}

.section__three__slogan{
    background-color: #18181B;
    color: #FFFFFF;
    text-align: center;
    font-weight: 800;
    font-size: 150px;
    height: 176px;
    transform: translateY(200%);
    opacity: 0;
    transition: all 1000ms ease-out;

}

.section__three__slider {
    height: 120vh;
    width: 100%;
    background-color: #18181B;
    display: flex;
    align-items: center;

}


/*--slider
Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
}


/*--Конкретный слайдер--*/

.slider {
    min-width: 0;
    padding: 0 220px;
    position: relative;
    overflow: hidden;


}


.slider .slick-arrow {
    position: absolute;
    color: #4363E8;
    z-index: 13;
    font-size: 0;
    width: 30px;
    height: 60px;
    top: 50%;

}

.slider .slick-arrow.slick-next {
    background: url(photos/arrows/Vector.png);
    background-position: center;
    background-size: cover;
    right: 120px;
}

.slider .slick-arrow.slick-arrow.slick-prev {
    background: url(photos/arrows/Vector\ \(1\).png);
    background-position: center;
    background-size: cover;
    left: 120px;
}



.slider__item {
    background: #FFFFFF;
    height: 530px;
    width: 388px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.slider__item img {
    width: 400px;
}

.slider__item__text {
    width: 344px;
    height: 183px;
    line-height: 26px;
    z-index: 10;
    color: #000000;
}

.slider__last__name {
    font-size: 75px;
    font-weight: 800;

}

.slider__first__name {
    font-size: 32px;
    font-weight: 600;

}

.gradient__inner {
    position: absolute;
    width: 100%;
    height: 430px;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 21.59%, #EBEBEB 73.77%);
    bottom: 0;
    border-radius: 30px;
}

/*--footer--*/

.footer {
    background: url('photos/Vector.png');
    background-position: center;
    background-size: cover;
    height: 322px;
    width: 100%;
    background-color: #18181B;
    position: relative;
}

.footer__text__inner {
    display: flex;
    gap: 29px;
    align-items: center;
    position: absolute;
    bottom: 15%;
    left: 7%;
}

.footer__text__inner img {
    width: 60px;
    height: 90px;
}

.footer__header {
    width: 225px;
    font-size: 36px;
    color: #FFFFFF;
}

.footer__text__inner__two {
    position: absolute;
    width: 218px;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    bottom: 0%;
    right: 12%;
}

/*--animated--*/

.animated {
    opacity: 1;
    transform: translateY(0);
}